<p-sidebar class="sidebarnav" [(visible)]="visibleSidebar" [showCloseIcon]="false" [baseZIndex]="10000">
    <h1>Menu</h1>

    <ul>
        <li><a (click)="visibleSidebar = false" routerLink="beneficiarios">Beneficiários</a></li>
        <li><a (click)="visibleSidebar = false" routerLink="pagamentos">Pagamentos</a></li>
        <li><a (click)="visibleSidebar = false" routerLink="saques">Saques</a></li>
    </ul>
</p-sidebar>

<button pButton type="button" class="ui-button-icon-primary" (click)="visibleSidebar = true" icon="pi pi-bars"></button>