.main-navbar {
    width: 100%;
    background-color: #899E3B;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    padding: 15px;
}

.main-navbar p {
    font-size: 1.8em;
    color: #F8F9FA;
    margin-left: 10px;
}