/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 100%;

    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Sobreposição de estilos css do tema padrão */
.ui-sidebar {
    background-color: #242939 !important;
    border: 0 !important;
    color: #fff;
    padding: 0 !important;
}